<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <extensions>
        <add assembly="NLog.Targets.Seq" />
    </extensions>

    <targets>
        <target name="seq" xsi:type="BufferingWrapper" bufferSize="20" flushTimeout="2000">
            <target xsi:type="Seq" serverUrl="http://localhost:5210" apiKey="" />
        </target>

        <target name="console" xsi:type="Console" layout="${longdate}|${aspnet-user-identity}|${threadid}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    </targets>

    <rules>
        <!-- Send logs to Seq -->
        <logger name="*" minlevel="Info" writeTo="seq" />

        <!-- Send logs to Console (optional) -->
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
